<html>
<head>
    <title>Hello Facebook</title>
</head>
<body>
<h4>Some your feeds:</h4>

<div th:each="post:${feed}">
    <b th:text="${post.from.name}">from</b> wrote:
    <p th:text="${post.message}">post message</p>
    <img th:if="${post.picture}" th:src="${post.picture}"/>
    <hr/>
</div>
</body>
</html>